<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
       <div id="setWidth"> 
           <div id="header">
                <h1><a href="/">ASP.NET MVC网上书店</a></h1>
                <ul id="navlist">
                    <li class="first"><a href="@Url.Content("~")" id="current">首页</a></li>
                </ul>        
            </div>
                @RenderSection("featured", required: false)
            <div id="main">
                @RenderBody()
            </div>
            <div id="footer">
                <p>&copy; @DateTime.Now.Year - 我的 ASP.NET MVC 应用程序</p> 
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
